html {
  font-size: 62.5%; // 1rem = 10px
}

body,
input {
  font-family: Avenir, sans-serif;
  font-size: 1.6rem;
}

@font-face {
  font-family: Avenir;
  src: url("~@/assets/fonts/AvenirLTStd-Book.woff") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: Avenir;
  src: url("~@/assets/fonts/AvenirLTStd-Light.woff") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: Avenir;
  src: url("~@/assets/fonts/AvenirLTStd-Medium.woff") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: Avenir;
  src: url("~@/assets/fonts/AvenirLTStd-Heavy.woff") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: Avenir;
  src: url("~@/assets/fonts/AvenirLTStd-MediumOblique.woff") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Avenir;
  src: url("~@/assets/fonts/AvenirLTStd-HeavyOblique.woff") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Avenir;
  src: url("~@/assets/fonts/AvenirLTStd-Black.woff") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: Avenir;
  src: url("~@/assets/fonts/AvenirLTStd-BlackOblique.woff") format("opentype");
  font-weight: 900;
  font-style: italic;
}
