.orange-outline {
	color: $orange;
	background-color: transparent;
	border: 1px solid $orange;
	&:hover {
		color: #fff;
		background-color: $orange;
	}
}

.orange-fill {
	color: #fff;
	background-color: $orange;
	border: 1px solid transparent;
	&:hover {
		border-color: #fff;
	}
}

.blueGreen-outline {
	color: $blue-green;
	background-color: #fff;
	border: 1px solid $blue-green;
	&:hover {
		color: #fff;
		background-color: $blue-green;
	}
}

.white-outline {
	color: #fff;
	background-color: transparent;
	border: 1px solid #fff;
	&:hover {
		color: $teal-hc;
		background-color: #fff;
	}
}

.white-fill {
	color: $blue-green;
	background-color: #fff;
	border: 1px solid transparent;
	&:hover {
		border-color: $blue-green;
	}
}

.teal-fill {
	color: #fff;
	background-color: $teal-hc;
	border: 1px solid transparent;
	&:hover {
		border-color: #fff;
	}
}

.stacked-button-container {
	width: 25rem;
}

.backButton {
	// max-width: 12rem;
	margin-right: 2rem;
	color: $blue-green;
}
